.detail
  .detail__fix
    .detail__fix__user-name
      = @user.nickname
      さんの投稿
      %br
      やり忘れはありませんか？
    .detail__fix__checkbox
      =check_box_tag :check1 
      = label_tag :check1, "洗濯"
      =check_box_tag :check2 
      = label_tag :check2, "掃除"
      =check_box_tag :check3 
      = label_tag :check3, "料理"
      =check_box_tag :check4 
      = label_tag :check4, "買い物"
      =check_box_tag :check5 
      = label_tag :check5, "洗い物"
  
  - @reports.each do |report|
    .detail__main-box
      .detail__mainbox__left-box
        .detail__mainbox__left-box__created-at
          = report.created_at.strftime("%Y-%m-%d %H:%M")
        .detail__mainbox__left-box__like
          いいね
          = report.likes_count
      .detail__mainbox__right-box
        .detail__mainbox__right-box__report
          = report.checkbox
          をやりました!
        .detail__mainbox__right-box__image
          = image_tag report.image, class: 'main__contents__right',size: "350x200"
  .detail__fotter
    = paginate(@reports)

