.main
  .main__heading
    みんなの投稿
  .main__user
    - @user.each do |user|
      .main__user__list
        = link_to report_path(user.id), class:"main__user__list__btn" do
          = user.nickname 
        .main__user__report-count
          投稿数:
          = user.reports.count
        .main__user__like-count
          いいね:
          = user.likes.count
  .main__footer
    = paginate(@user)