.main
  - @report.each do |report|
    .main__contents
      .main__contents__left-box
        .main__contents__left-box_image
        .main__contents__left-box_name
          = report.user.nickname
      .main__contents__center-box
        .main__contents__center-box_check-box
          = report.checkbox
          を完了しました!
        .main__contents__center-box_create
          = report.created_at.strftime("%Y-%m-%d %H:%M")
      = image_tag report.image, class: 'main__contents__right',size: "300x200"
  .main__fotter
    = paginate(@report)