.form
  .form__post
    投稿画面
  = form_for [@report] do |f|
    = f.radio_button :checkbox, "洗濯" 
    洗濯
    = f.radio_button :checkbox, "掃除" 
    掃除
    = f.radio_button :checkbox, "料理"    
    料理
    = f.radio_button :checkbox, "買い物"  
    買い物
    = f.radio_button :checkbox, "洗い物"
    洗い物
    = f.text_field :image, placeholder: "写真のURL"
    = f.submit "送信"