!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 家事レポ
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  
  .header
    = link_to root_path, class:"header__left-box" do
      家事レポ
    .header__right-box
      = link_to user_path(current_user), class:"header__right-box__name" do
        = current_user.nickname
        さんのやった家事/
      -if user_signed_in?
        = link_to new_report_path, class: "header__right-box__btn" do
          家事を投稿する
        = link_to destroy_user_session_path, method: :delete, class: "header__right-box__btn" do
          ログアウト
      -else 
        = link_to new_user_session_path, class: "header__right-box__btn" do
          ログイン
        = link_to new_user_registration_path, class: "header__right-box__btn" do
          新規登録
  %body
    = yield